*{
    text-decoration: none;
}
.navbar{
    background: #ff004f;
    font-family: sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}
li{
    display: inline-block;
    list-style: none;
}
 li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
li a:hover{
    color: black;
}
 button {
    background: #00f0b0;
    color: #ff004f;
    padding: 10px 15px;
    border-radius: 5px;
    border-color: aliceblue;
}


