*{
    font-family: 'Poppins', sans-serif;
margin:0; 
padding:0;
box-sizing: border-box;
outline: none; border:none;
text-decoration: none;
text-transform: capitalize;
}
html{
    font-size: 60.5%;
    overflow-x: hidden;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto" sans-serif;
    box-sizing: border-box;
  }
  .logoo h1{
    display:flex;
    font-weight:bold;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    
  }
  
 
  .navbar{
    
    width: 100%;
    height: 100px;
    background-color: wheat;
   padding-right: 30px;
    display:flex;
   opacity: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* Ensure it's above other content */
  
  }
  .logo{
    padding-left: 100px;
    font-size: 0px;
    font-weight: bold;
  position: relative;

  }
  .menu{
    align-items: center;
    width:100%;
    display: flex;
    justify-content: right;
    list-style: none;
    background: 8c52ff;
  }

  .menu :hover{
    color: red;
  }
  
  .menu li{
    margin-left: 5px;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    position: relative;
    width: 150px;
    margin: 2px;
    padding: 2px;
  }
  
  
  .menu li a{
    display: block;
    padding: 5px 5px;
    color: #020202;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
        
  }
  
  .menu li ul.dropdown li{
   display: block;
   text-align: center;
   background-color: #faf7f7;
   padding: 5px;
   transition: 0.3s;
  }

  
 
 
  
  
  .btn{
    background: #00f0b0;
    color: #000000;
    padding: 10px 15px;
    border-radius: 20px;
    border-color: #f40404;
}

.btn{
display: block;
width:100%;
cursor: pointer;
margin-top: 1rem;
font-size: 1.7rem;
padding: 1rem 3rem;
border-radius: .5rem;
background: #00f0b0;
color: #fff;
text-align: center;
}

.btn:hover{
background: black
}

.message{
display: block;
background-color: #03c994;
padding:1.5rem 1rem;
font-size: 2rem;
color: black;
margin-bottom: 2rem;
text-align: center;
}

.container{
max-width: 1200px;
padding: 2rem;
margin: 0 auto;
}

.admin_form_container .centered{
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}

.admin_form_container form{
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
    background: #918c8c;
}
.admin_form_container form h3{
text-transform: uppercase;
color: #1ddba9;
margin-bottom: 1rem;
text-align: center;
font-size: 2.5rem;

}

.admin_form_container form .box{
    width: 100%;
    border-radius: 0.5rem;
    padding: 1.2rem 1.5rem;
    font-size: 1.7rem;
    margin: 1rem 0;
    background: whitesmoke;
    text-transform: none;
}

.pet_display{
    margin: 2rem 0;
    overflow-y: scroll;
 
}

.pet_display .pet_table{
    width: 100%;
    text-align: center;
   
}
.pet_display .pet_table thead{

  
    background: #44dab2;

}
.pet_display .pet_table th{
    padding: 1.5rem;
    font-size: 2rem;
    color: black;
  
}
.pet_display .pet_table td{
    padding: 1.5rem;
    font-size: 2rem;
    color: black;
    border-bottom:#010000 1px solid;

}

.pet_display .pet_table .btn:first-child{

margin-top: 0;
}

.pet_display .pet_table .btn:last-child{
background: crimson;

}
.pet_display .pet_table .btn:last-child:hover{
    background: rgb(3, 3, 3);
    
    }

    button{
        background: #00f0b0;
        color: #fff;
        padding: 1rem 3rem;
        border-radius: .5rem;
        text-align: center;
        cursor: pointer;
        font-size: 1.7rem;
        margin-top: 1rem;
    }

    button:hover{
        background: black;
    }
    button a{
        text-decoration: none;
        color: #fff;
    }
    .logout{
        background: #00f0b0;
        color: #fff;
        padding: 0.1rem 0rem;
        border-radius: 2rem;
        text-align: center;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: bold;
       
    }
    .logout a{
        text-decoration: none;
        color: #fff;
    }
    .logout:hover{
        background: black;
    }
   


    



















@media (max-width:991px){
    html{
    font-size: 55%;
    }
    
    }
    @media (max-width:768px){
       .pet_display{
        overflow-y: scroll;
       }
        .pet_display .pet_table{
            width: 80rem;
        }
        }

    @media (max-width: 450px) {
    html{
    font-size: 50%;
    }
    
    }